@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;

  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* Standard syntax */
::-webkit-scrollbar {
  width: 10px;
}

/* Safari and Chrome */
::-webkit-scrollbar-thumb {
  background-color: #212429;
  border-radius: 10px;
}

/* Firefox */
::-moz-scrollbar {
  width: 10px;
}

/* Firefox */
::-moz-scrollbar-thumb {
  background-color: #212429;
  border-radius: 10px;
}

.main {
  padding-top: 10px;
  background-color: #1c1c21;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100lvh;
}

form {
  color: white;
  width: 50%;
  transition: all 0.4s;
}

#sec1 {
  border: none;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

form input {
  outline: none;
  border: 2px solid #3b3f49;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  height: 50px;
  background-color: #212429;
  margin-top: 10px;
  color: #fafafa;
}

#body {
  height: 9rem;
}

form button {
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 10rem;
  padding: 10px;
  transition: all 0.4s;
  font-weight: bold;
  border: none;
  background-color: #617afa;
  color: white;
}

form button:hover {
  background-color: #2146ff;
}

.listwrapper {
  display: flex;
  justify-content: center;
  line-height: 30px;
  width: 50%;
  max-width: 50%;
  transition: all 0.4s;
}

.lists {
  margin-top: 50px;
  color: #fafafa;
  font-weight: 800;
  margin-bottom: 20px;
}

.lists .postcomm {
  border-bottom: 1px solid #e9e9e922;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;
}

.lists .postcomm .titlecomm {
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: 600;
  display: block;
  overflow-y: hidden;
}

.lists .postcomm .bodycomm {
  font-size: 0.8rem;
  margin-left: 10px;
  display: block;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #a4a4ab;
}

.edit-title,
.edit-body {
  padding: 10px;
  margin: 2px;
  background-color: transparent;
  border: 1px solid #6c6c6c;
  border-radius: 20px;
  color: #fafafa;
  width: 98%;
  font-size: 1.3rem;
  resize: none;
  scrollbar-color: #212429 rgb(80, 80, 80);
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.edit-body {
  height: 14rem;
}

.editbtn,
.deletebtn,
.savebtn {
  cursor: pointer;
  width: 6rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  border: none;
  background-color: #3d404a;
  border-radius: 10px;
  transition: all 0.4s;
}

.editbtn:hover,
.deletebtn:hover,
.savebtn:hover {
  background-color: #617afa;
}

#paginationIndex {
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: nowrap;
  gap: 1rem;
  color: white;
}
.active {
  background-color: #ffffff55;
  border-radius: 20px;
}

#paginationIndex li {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 3px;
  border-radius: 20px;

  transition: all 0.4s;
}

#paginationIndex li:hover {
  border-bottom: 2px solid #ffffff;
}

@media screen and (max-width: 1200px) {
  form {
    width: 90%;
    transition: all 0.4s;
  }

  .listwrapper {
    width: 90%;
    transition: all 0.4s;
  }

  .editbtn,
  .deletebtn,
  .savebtn {
    width: 6rem;
    transition: all 0.4s;
  }

  #paginationIndex {
    flex-wrap: wrap;
    transition: all 0.4s;
  }
}
@media screen and (max-width: 600px) {
}
